.container-dropdown-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 38px;
  padding-bottom: 38px;
  align-items: center;

  @media (max-width: 768px) {
    gap: 20px; /* Ajustement du gap à 20px pour les mobiles */
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
