.container-home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.container-cardLocation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 25px;
    background: #F6F6F6;
    justify-content: center;
    padding: 50px;


}
