h1 {
  color: #ff6060;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

p {
  font-style: normal;
  font-weight: 500;
}

.container-heading-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-heading {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.container-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #ff6060;
}

.cardLocation-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-tags-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ff6060;
}

.cardLocation-tags {
  display: flex;
  flex-direction: row;
}

.container-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
  margin-top: 24px;
  margin-bottom: 50px;
}