h1 {
  color: #ff6060;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

p {
  font-style: normal;
  font-weight: 500;

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.container-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 16px;
  }
}

.container-heading-tags {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.container-heading {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.container-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100%;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #ff6060;

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.host {
  font-size: 18px;

  @media (max-width: 480px) {
    font-size: 12px;
  }
}

.cardLocation-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

.container-avatar-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff6060;

  @media (max-width: 640px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.container-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 76px;
  margin-top: 24px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
}
