* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo img {
  height: 50px;
}

.navbar_links {
  display: flex;
  gap: 20px;
}

.navbar_links a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar_links a:hover {
  text-decoration: underline;
}

.navbar_links a.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row; /* Assure que le logo et les liens restent sur la même ligne */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajuste le padding pour les mobiles */
  }

  .logo img {
    width: 90px; /* Largeur du logo en mobile */
    height: 46px; /* Hauteur du logo en mobile */
  }

  .navbar_links {
    gap: 10px; /* Réduit l'espace entre les liens en mobile */
  }

  .navbar_links a {
    font-size: 12px; /* Taille de la police en mobile */
  }
}
