.tag {
  display: flex;
  border-radius: 20px;
  font-size: 14px; /* Taille de police par défaut pour les écrans larges */
  font-weight: 600;
  background-color: #ff6060;
  color: #fff;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  width: 115px;
  text-align: center;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #e54949;
  }

  @media (max-width: 768px) {
    font-size: 10px; /* Ajustement de la taille de la police à 10px pour les mobiles */
  }
}
